.task-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Inter, sans-serif;
  border: solid 1px rgba(128, 128, 128, 0.58);
  border-radius: 8px;
}

.task-elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-elements h5 {
  background-color: rgba(255, 0, 0, 0.15);
  color: #7a0000;
  border-radius: 16px;
  padding: 6px 10px;
  width: fit-content;
}

.task-description {
  color: #555555;
}

.task-button {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
}

