.workspace {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
}

app-sidebar-component {
  height: 100vh;
  border: solid 1px rgba(128, 128, 128, 0.58);
}

.main-workspace {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
}
