<div class="modal-backdrop">
  <div class="input-card-container">
    <div class="input-card-elements">

      <div class="input-card-header">
        <h2>Create A New Task</h2>
        <button (click)="closeModalButton()" class="form-close-button">X</button>
      </div>


      <div class = "input-fields">
        <input
          type="text"
          name="Task title"
          placeholder="Add task title"
        >
        <input
          type="text"
          name="Task description"
          placeholder="Add task description"
        >
      </div>

      <div class="radio-collective">
        <p>Mark task status:</p>
        <div class="input-radios">
          <div class = input-radio-single>
            <input type="radio" id="today" name="choice1" value="1">
            <label for="today">Today</label>
          </div>

          <div class = input-radio-single>
            <input type="radio" id="tomorrow" name="choice2" value="2">
            <label for="tomorrow">Tomorrow</label>
          </div>

          <div class = input-radio-single>
            <input type="radio" id="overdue" name="choice3" value="2">
            <label for="overdue">Overdue</label>
          </div>
        </div>
      </div>

      <button (click)="showNotification()" class="input-card-button">Save Task</button>
    </div>
  </div>
</div>

