/*.modal-backdrop {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(0, 0, 0, 0.4);*/
/*  z-index: 1000;*/
/*}*/

.input-card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  gap: 1rem;
  font-family: Inter, sans-serif;
  border: solid 1px rgba(128, 128, 128, 0.58);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.58);
  background-color: white;
  border-radius: 12px;
  width: 580px;
  z-index: 1001;
}

p {
  color: #555555;
}

.input-card-header {
  display: flex;
  justify-content: space-between;
}

.form-close-button {
  background-color: #bf0707;
  font-size: 18px;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
}

.input-card-elements {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-card-button {
  border: none;
  gap: 0.5rem;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-fields input {
  border: solid 1px rgba(128, 128, 128, 0.58);
  padding: 12px;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.radio-collective {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-radios {
  display: flex;
  gap: 16px;
}

.input-radio-single {
  display: flex;
  gap: 6px;
}
