.input-card-container {
  padding: 32px;
  gap: 1rem;
  font-family: Inter, sans-serif;
  border: solid 1px rgba(128, 128, 128, 0.58);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.58);
  border-radius: 8px;
  height: auto;
  width: 580px;
}

p {
  color: #555555;
}

.input-card-elements {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-card-elements button {
  border: none;
  gap: 0.5rem;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-fields input {
  border: solid 1px rgba(128, 128, 128, 0.58);
  padding: 12px;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.radio-collective {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-radios {
  display: flex;
  gap: 16px;
}

.input-radio-single {
  display: flex;
  gap: 6px;
}
