<div class="modal-backdrop">
  <div class="input-card-container">
    <div class="input-card-elements">
      <h2>Create A New Task</h2>

      <div class = input-fields>
        <input
          type="text"
          name="Task title"
          placeholder="Add task title"
        >
        <input
          type="text"
          name="Task description"
          placeholder="Add task description"
        >
      </div>

      <div class="radio-collective">
        <p>Mark task status:</p>
        <div class="input-radios">
          <div class = input-radio-single>
            <input type="radio" id="Today's task" name="choice" value="1">
            <label for="choice1">Today</label>
          </div>

          <div class = input-radio-single>
            <input type="radio" id="Pending" name="choice" value="2">
            <label for="choice2">Tomorrow</label>
          </div>

          <div class = input-radio-single>
            <input type="radio" id="Overdue" name="choice" value="2">
            <label for="choice2">Overdue</label>
          </div>
        </div>
      </div>

      <button>Save Task</button>
    </div>
  </div>
</div>

