<section class="sidebar">

  <div class="sidebar-top">
    <div class="sidebar-logo">
      <i class="fas fa-bars-progress"></i>
      <h2>PRODO-TASK</h2>
    </div>

    <div class="sidebar-workbuttons">
      <h4>Menu</h4>

      <button (click)="getAllTasks()">
        <i class="fas fa-list-check"></i>
        <span>All Tasks</span>
      </button>

      <button (click)="getTomorrowsTasks()">
        <i class="fas fa-calendar-days"></i>
        <span>Tomorrow's Tasks</span>
      </button>

      <button (click)="getCompletedTasks()">
        <i class="fas fa-check-square"></i>
        <span>Completed Tasks</span>
      </button>
    </div>
  </div>

  <div class="sidebar-userprofile">
    <img src="" alt="">
    <div class="user-email">
      <h4>{{ userName }}</h4>
      <p>{{email}}</p>
    </div>
  </div>

</section>
