.sidebar {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  font-family: Inter, sans-serif;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 0.5rem;
}

.sidebar-workbuttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sidebar-workbuttons h4 {
  color: #555555;
  font-weight: 500;
  margin-left: 1rem;
}

.sidebar-workbuttons button i {
  color: #555555;
  transition: color 0.2s;
}

.sidebar-workbuttons button:hover i {
  color: white;
}

.sidebar-workbuttons button {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.sidebar-workbuttons button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
